<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-body">
        {{ tripleSet.subject }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-body">
        {{ tripleSet.predicate }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <tr-triple-object-box [object]="tripleSet.object[0]"></tr-triple-object-box>
  </div>
</div>

<div class="row" *ngFor="let obj of tripleSet.object | slice:1">
  <div class="col-md-4 col-md-offset-8">
    <tr-triple-object-box [object]="obj"></tr-triple-object-box>
  </div>
</div>
