<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-body">
        {{ tripleSet.subject }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-body">
        {{ tripleSet.predicate }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-body">
        {{ tripleSet.object[0].name }}
      </div>
    </div>
  </div>
</div>

<div class="row" *ngFor="let obj of tripleSet.object | slice:1">
  <div class="col-md-4 col-md-offset-8">
    <div class="panel panel-danger">
      <div class="panel-body">
        {{ obj.name }}
      </div>
    </div>
  </div>
</div>
